@model DogeDaycare.Web.Models.Account.PasswordResetEmailViewModel
@section Styles
{
    <link href="~/Views/Account/Login.css" rel="stylesheet" />
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <form class="form-horizontal" action="@(Url.Action("PasswordResetEmail","Account"))" method="POST">
                    <fieldset>
                        <legend>@L("PasswordReset")</legend>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="email" class="form-control" name="EmailAddress" value="@Model.EmailAddress" placeholder="@L("EmailAddress")" required maxlength="@DogeDaycare.Users.User.MaxEmailAddressLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" id="ResetButton" class="btn btn-primary"><i class="fa fa-envelope"></i> @L("RequestPasswordResetCode")</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>