@model DogeDaycare.Web.Models.Account.PasswordResetEmailViewModel
@section Styles
{
    <link href="~/Views/Account/Login.css" rel="stylesheet" />
}
@*Used to send out a password reset email*@
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div class="container" style="margin-top:30px">
        <div id="RegisterArea" class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="well bs-component">
                    <form class="form-horizontal" action="@(Url.Action("PasswordResetEmail","Account"))" method="POST">
                        <fieldset>
                            <legend>@L("PasswordReset")</legend>
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label for="emailAddress">@L("EmailAddress")</label>
                                    <input id="emailAddress"
                                           required 
                                           type="email" 
                                           class="form-control" 
                                           name="EmailAddress" 
                                           value="@Model.EmailAddress" 
                                           maxlength="@DogeDaycare.Users.User.MaxEmailAddressLength">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button id="resetButton"
                                            type="submit"
                                            class="btn btn-primary btn-block">
                                        <i class="fa fa-envelope"></i> @L("RequestPasswordResetCode")
                                    </button>
                                </div>
                            </div>

                            <div class="col-lg-12 text-center">
                                <a href="@Url.Action("Login", "Account")">Back to Login</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>